META_JWT_TOKEN=
META_NUMBER_ID=
META_VERIFY_TOKEN=
META_VERSION=v21.0
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_KEY=
GEMINI_API_KEY=
BUSINESS_NAME=
BUSINESS_SHEET_ID=
BUSINESS_PERSONALITY=profesional
GEMINI_MODEL=gemini-2.0-flash
PORT=3008
